
ul.pagination {
    margin: 30px;

}

ul.pagination {
    margin: 0;
    padding: 0;
}

ul.pagination li {
    cursor: pointer;

    background-color: #eeeeee;
    border: 1px solid #dddddd;

    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 5px;
}

ul.pagination li.current {

    font-weight: bold;
}

ul.pagination li:hover {
    background: #e4eed4;
}
