tbody.loading {
    opacity: 0.3;

}

.sortable {
    cursor: pointer;
}

.sorted {

}

td, th {
    padding: 10px;
    margin: 0;

}

thead {
    background-color: #eeeeee;
}

tbody tr:nth-child(odd) {
    background: #eeeeee;
}

tbody tr:nth-child(even) {
    background: #ffffff;
}

tbody tr:hover {
    background: #e4eed4;
}

.empty {
    background: #ffffff;

}