.app{
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}

nav.top{

}

nav.loading{
    position: fixed;
    top: 20px;
    right: 30px;
}

.results{
    margin-top: 20px;
    margin-left: 10px;
}

.results .total{
    margin-bottom: 20px;
    font-size: 1.2em;
}